/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
nav {
  margin: 50px 0px 50px 120px;
  margin-bottom: ;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
nav h1 {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 24px;
}
.nav-link {
  display: flex;
  column-gap: 34px;
}
.nav-link a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
  font-size: 16px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* photography part Start */
.photography {
  width: 100%;
  padding: 0 10%;
  display: flex;
  align-items: center;
}
.photo h1 {
  padding-bottom: 16px;
  font-size: 52px;
  color: #3a3a3a;
}
h1 span {
  color: gold;
}
.photo p {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 16px;
}
.button {
  padding: 10px 24px;
  background-color: #e02c6d;
  border-radius: 41px;
  display: inline-block;
  align-items: center;
}
.button a {
  text-decoration: none;
  color: wheat;
}
.fa-arrow-right {
  color: white;
}
.photo {
  width: 50%;
}
.photo img {
  width: 100%;
}
/* photography part end*/

/* Shopping-site ink start */

.Shopping-site {
  display: flex;
  justify-content: center;
  width: 1110px;
  height: 110px;
  column-gap: 60px;
  align-items: center;
  margin: 100px 0;
}
.Shopping-site img {
  width: 84px;
  height: 26px;
}

/* Shopping-site ink End */

/* Product Item Style Start */
#title-align {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 28px;
  color: #3a3a3a;
}
.product-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  margin-bottom: 50px;
}
.products {
  width: 329px;
  height: 476px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.product-banner {
  width: 300px;
  height: 256px;
}
.product-title {
  font-weight: 500;
  font-size: 28px;
  color: #18191f;
  margin-bottom: 6px;
}
.protuct-price {
  font-weight: 400;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 8px;
}
.product-rating {
  margin-bottom: 3px;
}
.star-color {
  color: #fb8200;
}
.product-rating span {
  color: #5e6366;
  font-family: "Roboto", sans-serif;
}
.Product-content {
  color: #787885;
  font-weight: 700;
  font-size: 14px;
  font-family: "Inter";
}
#see-more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 100px;
}
#see-more a {
  text-decoration: none;
  color: rgba(224, 44, 109, 0.87);
}
.arrow {
  color: rgba(224, 44, 109, 0.87);
}
/* Product Item Style End */

/* Footer Section Start */

footer {
  width: 100%;
  background-color: #0a0826;
  padding: 50px;
  text-align: center;
}
footer h3 {
  color: #ffffff;
  padding-bottom: 3px;
  font-weight: 700;
  font-size: 24px;
}
footer p {
  color: #d9dbe1;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 17px;
}
footer .social-icon {
  display: flex;
  justify-content: center;
}
.fa-brands {
  color: white;
  margin-right: 6px;
}

/* Footer Section End */

/* Media Queary Start */

/* for Mobile Device */
@media only screen and (max-width: 600px) {
  .photography {
    margin: 0;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .photo h1 {
    font-weight: 700;
    font-size: 28px;
  }
  .photo {
    text-align: center;

    width: 100%;
    padding: 14px 25px;
  }
  nav,
  .product-section,
  footer {
    display: none;
  }
  /* Shopping-site ink start */
  .Shopping-site {
    flex-wrap: wrap;
    width: 100%;
    padding: 0 42px;
    margin: 30px 0;
  }
  .Shopping-site img {
    width: 51.17px;
    height: 15.24px;
  }
}

/* Media Queary End */
